@media print {
  @page {
    size: letter portrait;
    margin: .5in;
  }

  body {
    margin: 0;
    padding: 0;
   }

   article {
     column-fill: auto;
   }
}

html {
  font: 14px/1.5 "Libre Caslon Text";
}

body {
  max-width: 8.5in;
  margin: auto;
  padding: 2ch;
  font-variant-numeric: oldstyle-nums;
}

h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2, h3 {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.7);
  font-variant-caps: all-small-caps;
  letter-spacing: 0.2rem;
  margin-bottom: -0.5rem;
}

#ingredients ul {
  font-style: italic;
}

#ingredients {
  border-bottom: 1px solid #aaa;
}

.metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  color: #444;
}

.metadata li:not(:last-child)::after {
  display: inline-block;
  content: '/';
  margin-inline: 1ch;
  font-style: normal;
}

#ingredients :first-child {
  margin-block-start: 0;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

article ul li {
  text-indent: -3ch;
  margin-left: 3ch;
}

.frac {
  font-variant-numeric: diagonal-fractions;
}

ol {
  counter-reset: list;
}

ol li {
  margin-block: 1rem;
  position: relative;
}

article {
  margin-top: 2rem;
  columns: 2;
  column-gap: .5in;
}

#notes {
  font-size: small;
}
