<!doctype html>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />

<main>
  <header>
    <div class="title-author">
      <h1>{{ recipe.title }}</h1>
        <span class="byline">
        {% if not recipe.author or recipe.author == recipe.source %}
          {{ recipe.source }}
        {% else %}
          {{recipe.author}} <span>|</span> {{recipe.source}}
        {% endif %}
        </span>
    </div>
    <ul class="metadata">
      <li class="yield"> Yields {{ recipe.yield_ }}</li>
      {% for label, time in recipe.time.items() %}
      <li class="time">{{ label.capitalize() }} time: {{ time }} </li>
      {% endfor %}
    </ul>
  </header>
  <article>
    <section id="instructions">
      <h2>Instructions</h2>
      {% for section, instruction_list in recipe.instructions.items() %}
      {% if section %}<h3>{{ section }}</h3>{% endif %}
      {% if instruction_list | length == 1 %}
        <p>{{ instruction_list[0] | wrap_fractions | safe }}</p>
      {% else %}
        <ol>
          {% for instruction in instruction_list %}
          <li>{{ instruction | wrap_fractions | safe }}</li>
          {% endfor %}
        </ol>
      {% endif %}
      {% endfor %}
    </section>
    <section id="ingredients">
      {% for section, ingredient_list in recipe.ingredients.items() %}
      {% if section %}<h3>{{ section }}</h3>{% endif %}
      <ul>
        {% for ingredient in ingredient_list %}
        <li>{{ ingredient | wrap_fractions | safe }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
      </ul>
    </section>
    {% if recipe.notes %}
    <section id="notes">
        {% for section, note_list in recipe.notes.items() %}
        {% if note_list %}<h2>{{ section or "Notes" }}</h2>{% endif %}
        {% if note_list | length == 1 %}
        <p>{{ note_list[0] | wrap_fractions | safe }}</p>
        {% else %}
        <ol>
          {% for note in note_list %}
          <li>{{ note | wrap_fractions | safe }}</li>
          {% endfor %}
        </ol>
        {% endif %}
        {% endfor %}
    </section>
    {% endif %}
  </article>
</main>
