<!doctype html>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />

<main>
  <header>
    <h1>{{ recipe.title }}</h1>
      <span class="byline">
        {{recipe.author}} <span>|</span> {{recipe.source}}
      </span>
      <ul class="metadata">
        <li class="yield"> Yields {{ recipe.yield_ }}</li>
        {% for label, time in recipe.time.items() %}
        <li class="time">{{ label.capitalize() }} time: {{ time }} </li>
        {% endfor %}
      </ul>
  </header>
  <article>
    <section id="ingredients">
      <h2>Ingredients</h2>
      {% for section, ingredient_list in recipe.ingredients.items() %}
      {% if section %}<h3>{{ section }}</h3>{% endif %}
      <ul>
        {% for ingredient in ingredient_list %}
        <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
      </ul>
    </section>
    <section id="instructions">
      <h2>Instructions</h2>
      {% for section, instruction_list in recipe.instructions.items() %}
      {% if section %}<h3>{{ section }}</h3>{% endif %}
      <ol>
        {% for instruction in instruction_list %}
        <li>{{ instruction }}</li>
        {% endfor %}
      </ol>
      {% endfor %}
    </section>
    {% if recipe.notes %}
    <section id="notes">
        {% for section, note_list in recipe.notes.items() %}
        {% if section %}<h2>{{ section or "Notes" }}</h2>{% endif %}
        <ol>
          {% for note in note_list %}
          <li>{{ note }}</li>
          {% endfor %}
        </ol>
        {% endfor %}
    </section>
    {% endif %}
  </article>
</main>
